In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Loading data--
fake = pd.read_csv(r'C:\Users\user\OneDrive\Desktop\Logistic_Regression\Fake_news_detection\Fake.csv')
true = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\Logistic_Regression\Fake_news_detection\True.csv")

In [ ]:
# Adding labels for true vs. fake news
fake['label'] = 0
true['label'] = 1
# Concatinating both the datasets--
data = pd.concat([fake,true],ignore_index=True)

In [ ]:
# shuffling data
data_shuffled = data.sample(frac=1,random_state=42).reset_index(drop=True)
data_shuffled.head()

,title,text,subject,date,label
0,Ben Stein Calls Out 9th Circuit Court: Committ...,"21st Century Wire says Ben Stein, reputable pr...",US_News,"February 13, 2017",0
1,Trump drops Steve Bannon from National Securit...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 5, 2017",1
2,Puerto Rico expects U.S. to lift Jones Act shi...,(Reuters) - Puerto Rico Governor Ricardo Rosse...,politicsNews,"September 27, 2017",1
3,OOPS: Trump Just Accidentally Confirmed He Le...,"On Monday, Donald Trump once again embarrassed...",News,"May 22, 2017",0
4,Donald Trump heads for Scotland to reopen a go...,"GLASGOW, Scotland (Reuters) - Most U.S. presid...",politicsNews,"June 24, 2016",1

In [ ]:
# cleaning the text column of the data--
import string
import re

def clean_text(text):
    text = text.lower()     # lower 
    text = re.sub(r'\d+', '', text)     # remove digits
    text = re.sub(r'[%s]' % re.escape(string.punctuation), '', text)    # remove punctuations
    text = re.sub(r'https?://\S+|www\.\S+', '', text)   # remove URL
    text = re.sub(r'\s+', ' ', text)    # remove white space 
    return text

In [23]:
data_shuffled['text'] = data_shuffled['text'].apply(clean_text)

data_shuffled.head()

,title,text,subject,date,label
0,Ben Stein Calls Out 9th Circuit Court: Committ...,st century wire says ben stein reputable profe...,US_News,"February 13, 2017",0
1,Trump drops Steve Bannon from National Securit...,washington reuters us president donald trump r...,politicsNews,"April 5, 2017",1
2,Puerto Rico expects U.S. to lift Jones Act shi...,reuters puerto rico governor ricardo rossello ...,politicsNews,"September 27, 2017",1
3,OOPS: Trump Just Accidentally Confirmed He Le...,on monday donald trump once again embarrassed ...,News,"May 22, 2017",0
4,Donald Trump heads for Scotland to reopen a go...,glasgow scotland reuters most us presidential ...,politicsNews,"June 24, 2016",1

In [25]:
# TF-IDF Vectorization in order to tokenize the words
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=5000,stop_words='english')

text_tfidf = tfidf.fit_transform(data_shuffled['text'])
print(text_tfidf.shape)

(44898, 5000)

In [ ]:
# Defining the feature and target--
X = text_tfidf
y = data_shuffled['label']

In [27]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [ ]:
#