In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
fake = pd.read_csv(r'C:\Users\user\OneDrive\Desktop\Logistic_Regression\Fake_news_detection\Fake.csv')
true = pd.read_csv(r"C:\Users\user\OneDrive\Desktop\Logistic_Regression\Fake_news_detection\True.csv")

In [ ]:
fake['label'] = 0
true['label'] = 1
data = pd.concat([fake,true],ignore_index=True)

In [20]:
data_shuffled = data.sample(frac=1,random_state=42).reset_index(drop=True)
data_shuffled.head()

,title,text,subject,date,label
0,Ben Stein Calls Out 9th Circuit Court: Committ...,"21st Century Wire says Ben Stein, reputable pr...",US_News,"February 13, 2017",0
1,Trump drops Steve Bannon from National Securit...,WASHINGTON (Reuters) - U.S. President Donald T...,politicsNews,"April 5, 2017",1
2,Puerto Rico expects U.S. to lift Jones Act shi...,(Reuters) - Puerto Rico Governor Ricardo Rosse...,politicsNews,"September 27, 2017",1
3,OOPS: Trump Just Accidentally Confirmed He Le...,"On Monday, Donald Trump once again embarrassed...",News,"May 22, 2017",0
4,Donald Trump heads for Scotland to reopen a go...,"GLASGOW, Scotland (Reuters) - Most U.S. presid...",politicsNews,"June 24, 2016",1